{% extends 'base.html.twig' %}

{% block title %}Hello AllergyController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="card shadow mb-4">
    <div class="card-header text-center py-3">
        <h6 class="m-0 font-weight-bold text-primary">My Allergies</h6>
    </div>
    <div class="card-body">
    {{ form_start(form) }}
    {{ form_widget(form) }}
        <div class="text-center">
            <button class="btn btn btn-success">{{ button_label|default('Save') }}</button>
        </div>
    {{ form_end(form) }}
    </div>
</div>

{% endblock %}
