{% extends 'base.html.twig' %}

{% block title %}Our Pizza{% endblock %}

{% block body %}

    <div class="card shadow mb-4">
        <div class="card-header text-center py-3">
            <h6 class="m-0 font-weight-bold text-primary">Our Pizza</h6>
        </div>
        <div class="card-body">
            <div class="row justify-content-md-center">
                {% for pizza in pizzas %}
                    <div class="col-10  mb-4">
                        <div class="card border-left-primary shadow h-100 py-2">
                            <div class="card-header mb-1">
                                <div class="col-12 text-s text-center font-weight-bold text-primary align-items-center text-uppercase">
                                    {{ pizza.name }}
                                </div>
                                {% set isAllergic = pizza | isAnAllergicPizza(app.user)  %}
                                {% if isAllergic %}
                                    <div class="col-auto text-xs text-center font-weight-bold text-danger align-items-center text-uppercase">
                                       <i> this pizza contains ingredients to which you are allergic </i>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="d-flex flex-wrap">
                                <div class=" col-12 text-center p-2 m-2">
                                    <img src="{{asset('/uploads/images/' ~  pizza.image )}}" class="rounded img-fluid"
                                         alt="..."  width="auto"
                                    >
                                </div>

                                <div class=" d-flex flex-wrap align-items-start">
                                        {% for ingredient in pizza.ingredients %}
                                         <div class="card p-2 m-2
                                            {% if isAllergic and ingredient|isAnAllergicIngredient(app.user) %}
                                                text-danger
                                            {% endif %}
                                         ">
                                             {{ ingredient.name }}
                                         </div>
                                        {% endfor %}
                                </div>
                            </div>

                            <div class="card-footer">
                                <div class="h5 mb-0 font-weight-bold text-gray-800"> {{ pizza.price |price }} €</div>
                                <div class="text-center mt-1">
                                    {% if is_granted('ROLE_ADMIN') %}
                                        <a class="btn btn-outline-info" href="{{ path('app_pizza_show', {'id': pizza.id}) }}">
                                            Show
                                        </a>
                                    {% endif %}

                                    {% if is_granted('ROLE_USER') %}
                                        <a class="btn btn-outline-success" href="{{ path('app_pizza_order', {'id': pizza.id}) }}">
                                            Order
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="text-center">
                        <p>
                            <i >no pizzas found</i>
                        </p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
