{% extends 'base.html.twig' %}

{% block title %}Our Pizza{% endblock %}

{% block body %}
    <div class="card shadow mb-4">
        <div class="card-header text-center py-3">
            <h6 class="m-0 font-weight-bold text-primary">{{ pizza.name }} {{ pizza.price |price }} € </h6>
            {% set isAllergic = pizza | isAnAllergicPizza(app.user)  %}
            {% if isAllergic %}
                <div class="col-auto text-xs text-center font-weight-bold text-danger align-items-center text-uppercase">
                    <i> this pizza contains ingredients to which you are allergic </i>
                </div>
            {% endif %}
        </div>
        <div class="card-body">
            <div class="row justify-content-md-center">
                <h6 class="m-0 font-weight-bold text-primary">Pizza in preparation . . . .</h6>
                <div class="col-12 text-center">
                    <div class=" col-12 text-center p-2 m-2">
                        <img src="{{asset('/uploads/images/' ~  pizza.image )}}" class="rounded img-fluid"
                             alt="..."
                        >
                    </div>
                </div>
                <div class=" d-flex flex-wrap align-items-start">
                {% for ingredient in pizza.ingredients %}
                    <div class="card p-2 m-2
                        {% if isAllergic and ingredient|isAnAllergicIngredient(app.user) %}
                            text-danger
                        {% endif %}
                                         ">
                        {{ ingredient.name }}
                    </div>
                {% endfor %}
            </div>
                <div class="row text-center">
                    <div class="col-12 m-3">
                        <h3 class="m-0 font-weight-bold text-success">
                            <i>Thank you for your order</i>
                        </h3>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}