<form method="post" action="{{ path('app_ingredients_delete', {'id': ingredient.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ingredient.id) }}">
    <button class="btn btn btn-danger">
        <i class="fa fa-eraser"></i>
        Delete
    </button>
</form>
