{{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="text-center mt-1">
        <button class="btn btn-success">{{ button_label|default('Save') }}</button>
    </div>
{{ form_end(form) }}
