{% extends 'base-admin.html.twig' %}
{% block title %}Edit Ingredients{% endblock %}

{% block body %}
    <a class="btn btn-outline-primary mb-1" role="button" href="{{ path('app_ingredients_index') }}">
        <i class="fa fa-arrow-left"></i>
        back to list
    </a>

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Edit Ingredients</h6>
        </div>
        <div class="card-body">
        {{ include('ingredients/_form.html.twig', {'button_label': 'Update'}) }}
        </div>
    </div>

    {{ include('ingredients/_delete_form.html.twig') }}
{% endblock %}
