{% extends 'base-admin.html.twig' %}
{% block title %}Ingredients index{% endblock %}

{% block body %}

    <a class="btn btn-outline-primary  mb-1" href="{{ path('app_ingredients_new') }}">
        <i class="fas fa-plus fa-sm"></i>
        New Ingredient
    </a>

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Ingredients</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Price</th>
                        <th>actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for ingredient in ingredients %}
                    <tr>
                        <td>{{ ingredient.id }}</td>
                        <td>
                            <div class=" text-xs font-weight-bold text-primary align-items-center text-uppercase mb-1">
                                {{ ingredient.name }}
                            </div>
                        </td>
                        <td>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                {{ ingredient.price | price() }} €
                            </div>
                        </td>
                        <td>
                            <a href="{{ path('app_ingredients_show', {'id': ingredient.id}) }}">show</a>
                            <a href="{{ path('app_ingredients_edit', {'id': ingredient.id}) }}">edit</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            </div>
        </div>
    </div>
{% endblock %}
