{% extends 'base-admin.html.twig' %}

{% block title %}Ingredients{% endblock %}

{% block body %}
    <a class="btn btn-outline-primary mb-1" href="{{ path('app_ingredients_index') }}">
        <i class="fa fa-arrow-left"></i>
        back to list
    </a>

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Ingredients</h6>
        </div>
        <div class="card-body">
        <table class="table">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ ingredient.id }}</td>
                </tr>
                <tr>
                    <th>Name</th>
                    <td>{{ ingredient.name }}</td>
                </tr>
                <tr>
                    <th>Price</th>
                    <td>{{ ingredient.price |price }} €</td>
                </tr>
            </tbody>
        </table>
        </div>
    </div>
    <div class="row ">
        <div class="col-xl-3 col-md-6 mb-1">
            <a class="btn btn-outline-primary" role="button" href="{{ path('app_ingredients_edit', {'id': ingredient.id}) }}">
                <i class="fa fa-pen"></i>
                edit
            </a>
        </div>
        <div class="col-auto">
            {{ include('ingredients/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
