<form method="post" action="{{ path('app_pizza_delete', {'id': pizza.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ pizza.id) }}">
    <button class="btn btn-danger">
        <i class="fa fa-eraser"></i>
        Delete
    </button>
</form>
