{{ form_start(form) }}
    <div class=" p-2 m-2">
        {{ form_label(form.name) }}
        {{ form_widget(form.name) }}
    </div>
    <div class=" p-2 m-2">
        {{ form_label(form.image) }}
        <img src="{% if pizza %} {{asset('/uploads/images/' ~  pizza.image )}} {% else  %}https://bulma.io/images/placeholders/1280x960.png{% endif %}"
             class="img-fluid rounded p-2" id="image-view1" alt="Placeholder image">
        {{ form_widget(form.image)}}
    </div>
    <div class=" px-5 m-2">
        {{ form_label(form.ingredients) }}
        {{ form_widget(form.ingredients) }}
    </div>
    {{ form_rest(form) }}
    <div class="text-center mt-1">
        <button class="btn btn-success">{{ button_label|default('Save') }}</button>
    </div>
{{ form_end(form) }}
