{% extends 'base-admin.html.twig' %}

{% block title %}Pizza index{% endblock %}

{% block body %}
    <a class="btn btn-outline-primary mb-1" href="{{ path('app_pizza_new') }}">
        <i class="fas fa-plus fa-sm"></i>
        New Pizza
    </a>

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Pizza</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Image</th>
                        <th>Price</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for pizza in pizzas %}
                    <tr>
                        <td>
                            {{ pizza.id }}
                        </td>
                        <td>
                            <div class=" text-xs font-weight-bold text-primary align-items-center text-uppercase mb-1">
                                {{ pizza.name }}
                            </div>
                        </td>
                        <td>
                            <img src="{{asset('/uploads/images/' ~  pizza.image )}}" class=" "
                                  alt="..." height="50px" width="auto"
                            >
                        </td>
                        <td>
                            <div class="h5 mb-0 font-weight-bold text-gray-800"> {{ pizza.price }} €</div>
                        </td>
                        <td>
                            <a href="{{ path('app_pizza_show', {'id': pizza.id}) }}">show</a>
                            <a href="{{ path('app_pizza_edit', {'id': pizza.id}) }}">edit</a>
                        </td>
                    </tr>
                    {% else %}
                        <tr>
                            <td colspan="5">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
