{% extends 'base-admin.html.twig' %}

{% block title %}New Pizza{% endblock %}

{% block body %}
    <a class="btn btn-outline-primary mb-1" href="{{ path('app_pizza_index') }}">
        <i class="fa fa-arrow-left"></i>
        back to list
    </a>

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Edit Pizza</h6>
        </div>
        <div class="card-body">
            {{ include('pizza/_form.html.twig') }}
        </div>
    </div>

{% endblock %}
