{% extends 'base-admin.html.twig' %}

{% block title %}Pizza{% endblock %}

{% block body %}
    <a class="btn btn-outline-primary mb-1" role="button" href="{{ path('app_pizza_index') }}">
        <i class="fa fa-arrow-left"></i>
        back to list
    </a>

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Pizza</h6>
        </div>
        <div class="card-body">
        <table class="table">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ pizza.id }}</td>
                </tr>
                <tr>
                    <th>Name</th>
                    <td>{{ pizza.name }}</td>
                </tr>
                <tr>
                    <th>Image</th>
                    <td>
                        <img src="{{asset('/uploads/images/' ~  pizza.image )}}" class=" "
                             alt="..." height="80px" width="auto"
                        >
                    </td>
                </tr>
                <tr>
                    <th>Price</th>
                    <td>{{ pizza.price }}</td>
                </tr>
            </tbody>
        </table>

            <table class="table">
                <thead>
                    <th>ingredients</th>
                    <th>price</th>
                </thead>
                <tbody>
                {% for ingredient in pizza.ingredients %}
                    <tr>
                        <td>{{ ingredient.name }}</td>
                        <td>{{ ingredient.price }}</td>
                    </tr>
                {% else %}
                <tr>
                    <td> ingredients not found </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="row ">
        <div class="col-xl-3 col-md-6 mb-1">
            <a class="btn btn-outline-primary" role="button"  href="{{ path('app_pizza_edit', {'id': pizza.id}) }}">
                <i class="fa fa-pen"></i>
                edit
            </a>
        </div>
        <div class="col-auto">
             {{ include('pizza/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
