{% extends 'base-admin.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}

    <div class="example-wrapper">
        <h3>Hello {{ app.user.userIdentifier }}</h3>
    </div>

{% endblock %}
