<!DOCTYPE html>
<html lang="en">
    <head>
        {{ include('base-component/head.htm.twig', {'title': 'Authentication'}) }}
    </head>
    <body>
        <div class="text-center">
            <img src="{{ asset('/logo/logo.png') }}">
        </div>
        <main class="container mt-5">
            {% block body %}{% endblock %}
        </main>
    </body>
</html>