<!DOCTYPE html>
<html>
    <head>
        {{ include('base-component/head.htm.twig', {'title': 'Mwaka Pizza'}) }}
    </head>
    <body>

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ path('app_home') }}">
                <img src="{{ asset('/logo/logo.png') }}" height="50px">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{path('app_home')}}">Our Pizzas</a>
                    </li>
                    {% if  is_granted('ROLE_USER') %}
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{{path('app_allergy')}}">My Allergies</a>
                        </li>
                    {% endif %}
                </ul>

               <p class=" mt-3 mx-3">
                   {{ app.user.userIdentifier }}
               </p>

                {% if is_granted('ROLE_ADMIN') %}
                <a class="btn btn-outline-info mx-2" href="{{ path('app_admin') }}">
                    Admin
                </a>
                {% endif %}
                <a class="btn btn-danger" href="{{ path('app_logout') }}">
                    Logout
                </a>
            </div>
        </div>
    </nav>

    <main class="container pt-5 mt-5">
        {% block body %}{% endblock %}
    </main>

    </body>
</html>
